html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
link {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  /* margin: 0; */
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bacground-color: #e5e5e5;
  --secondary-bacground-color: #2f303a;
  --special: #ffffff99;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section {
  padding: 94px 0 0 0;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
  /* outline: 2px solid tomato; */
}
header {
  background-color: #ffffff;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* header */
header {
  border-bottom: 1px solid #ececec;
}
/* nav */
.nav-container {
  display: flex;
  align-items: center;
  /* min-height: 80px; */
}
.nav-subcontainer {
  display: flex;
  align-items: center;
}

/* ЛОГО */
.logo {
  margin-right: 93px;
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.second {
  color: white;
}
span {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  /* margin-right: 331px; */
  padding: 0;
}
.site-nav li {
  display: block;
  /* padding: 34px 0; */
  margin-right: 50px;
}
.site-nav li:last-child {
  margin-right: 0;
}
.auth-nav li {
  margin-right: 50px;
}
.auth-nav li:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding: 32px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.site-nav .link.curent {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
  padding: 0;
}

.auth-nav .link {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.icon-auth-nav {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.icon-sec-auth-nav {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.icon-sec-auth-nav:hover,
.icon-sec-auth-nav:focus {
  fill: var(--accent-color);
}
.auth-nav li:hover,
.auth-nav li:focus {
  color: var(--accent-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/*герой*/
.hero {
  background-color: var(--secondary-bacground-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-color: var(--secondary-bacground-color);
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  max-width: 696px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
}
/* 1 КНОПКА */
.button-primary {
  align-self: center;
  width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 9;
}

/*2knopka*/
.button-secondary {
  /* width: 200px; */
  min-height: 38px;
  padding: 6px 22px;
  /* margin-left: 8px; */
  border: 2px solid transparent;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  transition-property: background-color, box-shadov;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}
/* main  1 */
/* СПИСОК ПРИИМУЩЕСТВ */

.feature {
  display: flex;
  padding: 0;
  /* margin: 94px 30px 94px 0; */
}
.icon-hero {
  width: 270px;
  height: 120px;
}
.feature .title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  max-width: 270px;
}
.feature li:not(:last-child) {
  margin-right: 30px;
}
.feature p {
  max-width: 270px;
}

/* chto my delaem */

/* БОЛЬШОЙ ЗАГОЛОВОК */

.title-big {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
/* СПИСОК ПРИИМУЩЕСТВ */
.section-work {
  padding-bottom: 94px;
}

.section-work-list {
  display: flex;
  padding: 0;
  /* justify-content: center; */
}
.section-work-list li:not(:last-child) {
  margin-right: 30px;
}
.section-advantage .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.section-advantage {
  font-weight: 400;
  color: var(--title-text-color);
}
/* КОМАНДА */
.section-team {
  background-color: #f5f4fa;
  padding: 94px 15px;

  /* margin: 0 15px; */
}

.section-team-list {
  display: flex;
  /* width: 270px; */
  /* height: 368px; */
  padding: 0;
  margin-right: -30px;
  /* justify-content: center; */
}
.section-team-list li {
  background-color: #ffffff;
  margin-right: 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}
.section-team-list img {
  max-width: none;
  /* padding: 60 px 0; */
}

.section-team .title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.section-team .text {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.icon-team {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition-property: bacgroud-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.icon-team:first-of-type {
  margin-left: 32px;
  margin-top: 16px;
}
.icon-team:hover,
.icon-team:focus {
  fill: #fff;
  background-color: var(--accent-color);
  border-radius: 35px;
  cursor: pointer;
}

.container-team-li {
  padding: 30px 0;
  background: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.client-cont {
  padding-bottom: 94px;
}
.client-list {
  display: flex;

  justify-content: space-between;
}

.icon-client {
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: bacgroud-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.icon-client:hover,
.icon-client:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  cursor: pointer;
}
/* main  2 */
.section-example {
  padding-bottom: 94px;
}
.example-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  /* padding-bottom: 16px; */
  padding-left: 0px;
}

.example-btn-list li:not(:first-child) {
  margin-left: 8px;
}

.img-example-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  margin-right: -30px;
  margin-bottom: -30px;

  padding-inline-start: 0;
}

.img-example-item:hover,
.img-example-item:focus {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}

.img-example-item div {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
  /* max-width: 370px; */
}
.img-example-item {
  background: #ffffff;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.section-example .title {
  /* padding: 20px 24px 4px; */
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-example .text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* futer */
footer {
  padding: 60px 0;
}
.footer-container {
  padding: 0 15px;
  display: flex;
}
address {
  margin-top: 20px;
}
footer li {
  font-style: normal;
  list-style-type: none;
}
.footer li:not(:last-child) {
  margin-bottom: 9px;
}
.footer a {
  margin: 0;
}
.footer {
  background-color: var(--secondary-bacground-color);
}
.point {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
}
.footer-list {
  padding: 0;
  margin-top: 9px;
}

.footer-list .link {
  color: var(--special);
  font-weight: 400;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}
.soclist {
  margin-left: 70px;
}

.final {
  /* font-family: Roboto; */
  font-size: 14px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
}
.soclist .icon-team {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  margin-left: 0;
  transition-property: bacgroud-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.soclist .icon-team:focus,
.soclist .icon-team:hover {
  background-color: var(--accent-color);
}
/* ======== MODAL ======== */
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;

  transition: background-color 400ms ease-in-out;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 580px;
  background-color: #fff;
  border-radius: 10px;
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;

  transition: opacity 400ms ease-in-out;
}
